<div class="container">
    <div class="alert alert-warning" *ngIf='message'>
        {{message}}
    </div>
   
        <button class="btn btn-success float-end m-3" (click)=createToDo()>Create a new Todo </button>
   
    
<table class="table table-bordered">
<thead class="text-center" style="font-weight: bold;">
<td >ID</td>
<td >Description</td>
<td >Date</td>
<td >Done?</td>
<td >Action</td>
</thead>
<tbody class="text-center">
<tr *ngFor = "let x of todoList">
    <td>{{x.id}}</td>
    <td>{{x.description}}</td>
    <td>{{x.targetDate|date:'yyyy-MM-dd'}}</td>
    <td>{{x.done}}</td>
    <td>
        <button class="btn btn-primary mx-3" (click)=updateToDos(x.id)>Update</button>
        <button class="btn btn-warning mx-3" (click)=deleteToDos(x.id)>Delete</button>
    </td>
</tr>
</tbody>
</table>
</div>